<div id="topBar">
    <p i18n="@@topBarTitle">GUANG NENG RONG NENG AUTOMOTIVE TRIM</p>
    <div id="lang">
        <ng-container *ngFor="let language of languageList">
            <a href="/{{language.code}}/"><button class="button">{{language.label}}</button></a>
        </ng-container>
    </div>
</div>

<nav id="navBar">
    <a routerLink="" routerLinkActive="active">
        <img #logo src="assets/logo60.jpg">
    </a>
    <a i18n="@@navBar1" routerLink="/news" routerLinkActive="active">News</a>
    <a i18n="@@navBar2" routerLink="/products" routerLinkActive="active">Products</a>
    <a i18n="@@navBar3" routerLink="/technology" routerLinkActive="active">Technology</a>
    <a i18n="@@navBar4" routerLink="/quality" routerLinkActive="active">Quality</a>
    <a i18n="@@navBar5" routerLink="/career" routerLinkActive="active">Career</a>
    <a i18n="@@navBar6" routerLink="/contact" routerLinkActive="active">Contact us</a>
    <!--
    <a (click)="refresh('http://localhost:4200/contact','/technologiesused')" routerLink="/technologiesused">Technologies Used</a>
    -->
</nav>