#topBar {
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

div p {
    font-size: 25px;
    color: red;
    text-align: center;
    padding-top: 2px;
    margin: 0px;
    width: 78%;
}

#lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 22%;
}

.button {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 2px;
    width: fit-content;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
  }

#navBar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    nav a {
        font-size: 13px;
    }

    div p {
        font-size: 17px;
    }

    .button {
        font-size: 10px;
    }
}

