<div class="content">
    <div class="welcome">
        <div class="pic">
            <img src="assets/inside.jpg" alt="">
        </div>
        <div class="intro">
            <h1 i18n="@@name" >GNRN AUTO PARTS</h1>
            <p i18n="@@welcome" >Welcome to the GuangNengRongNeng Auto Parts. With the advanced technology and the complete equipments, we will offer you top-ranking products and satisfied services.</p>
        </div>
    </div>
    <br>
    <div class="aboutUs">
        <h1 i18n="@@intro" >About GNRN Automotive Trim</h1>
        <p i18n="@@p1">Chongqing Guangneng Automotive Trim Co., Ltd. is located in Chongqing Hi-tech Industry Developing Zone, covering an area of 35,000 square meters and with 40,000 square meters of apartment buildings. It is a professional company specializing in plastic injection molding, plastic blow molding, surface painting and cubic surface coating. The total investment is 120 million RMB. It possesses more than 40 sets of  plastic injection molding machines,6 automatic painting lines,1 product line of cubic surface coating. It also founds the advanced, full-functional Physical and Chemical Central Laboratory for testing the plastic physical and chemical performance and for testing and analyzing the quality of painting and coating.</p>
        <p i18n="@@p2">The company started to be engaged in plastic  molding process and surface painting in 1985. It has been supplying plastic parts for carmakers and motorcycle manufacturers for a long time. The necessary accessories of automobiles developed by our company had won 1 invention patent and 1 patent for practicality and new model. It has become a qualified supplier for automobile manufacturers, for instance, ChangAn Ford Group, QingLing Group, Steyr, TieMa Group, ZhongQi Group,North Benz Group, etc. The motorcycle covering parts made in our company had already won 25 patents, which are applicable to more than 40 models of motorcycles. It is a qualified supplier for motorcycle manufacturers inside and outside the city.  And it got qualification certificate of national import and export enterprises in 2003.</p>
        <p i18n="@@p3">The company can meet the market demands effectively. The capacity of injection molding machines is from 50 to 12,000 gram, and the clamping force is from 50 to 2,000 tons. Each year, the company can manage about 4,500 tons of molding processing, and can paint millions of motorcycle covers and do 1 million pieces of cubic surface coating.</p>
    </div>
    <br>
    <div class="footer">
        <h1 i18n="@@footerTitle" >GNRN Automotive Trim</h1>
        <div class="locations">
            <p i18n="@@contact">Contact Us</p>
            <div class="chongqing">
                <ul>
                    <li i18n="@@loc1">Chongqing</li>
                    <li i18n="@@add1">YunRui Street 101, Yubei, 401120</li>
                    <li i18n="@@tel1">TEL.(023)68603547</li>
                </ul>
            </div>
            <div class="hangzhou">
                <ul>
                    <li i18n="@@loc2">Hangzhou</li>
                    <li i18n="@@add2">lvyin Street 222 Suit 3, Xiaoshan Qianjingongyeyuan, 310000</li>
                    <li i18n="@@tel2">TEL.(0571)86858875</li>
                </ul>
            </div>
            <div class="taizhou">
                <ul>
                    <li i18n="@@loc3">Taizhou</li>
                    <li i18n="@@add3">Dujiacun Jiangtantou 426, Huangyan, 318020</li>
                    <li i18n="@@tel3">TEL.(0576)81116108</li>
                </ul>
            </div>
        </div>
        <div class="developer">
            <p>developed by Leilin Su</p>
        </div>
    </div>
</div>
