.content {
    display: block;
    justify-content: center;
}

.welcome {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    
}
.pic {
    padding-right: 0;
    width: 65%;
    margin-right: 0;
}

.pic img {
    width: 100%;
}

.intro {
    width: 35%;
    background-color: rgba(110, 4, 4, 0.712);
    height: auto;

}
.intro h1 {
    font-size: 3vw;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10% 0 4% 0;
}

.intro p {
    font-size: 1.5vw;
    color: gray;
    text-align: left;
    padding: 20px 15px;

    
}

.welcome::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 680px) {
    .intro, .pic {
        width: 100%;
    }
    .intro h1 {
        font-size: 35px;
    }

    .intro p {
        font-size: 20px;
    }
    
}

.aboutUs {
    background-color: white;
    border-style: solid;
    width: 90%;
    margin-left: 5%;
}

.aboutUs h1 {
    color: black;
    font-weight: bolder;
    text-align: center;

}

.aboutUs p {
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
}

.footer {
    background-color: black;
    width: 100%;
}

.footer h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.footer div {
    margin: auto;
}

.locations {
    display: flex;
}

.locations p {
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.locations ul{
    color: white;
    padding-left: 5%;
    list-style-type: none;
    padding-right: 5%;
}

.locations ul li:nth-child(1) {
    font-weight: bolder;
}

.developer p {
    font-size: 15px;
    color: brown;
    text-align: center;
}

@media screen and (max-width: 680px) {
    .locations p {
        display: none;
    }
}