<h1 i18n="@@certificationSub">Certifications</h1>

<div class="container">
    <div class="certifications">
        <img src="assets/certifications/ISO9001-1.jpg">
        <p>ISO9001: 2000</p>
    </div>
    <div class="certifications">
        <img src="assets/certifications/ISO9001-2.jpg">
        <p>GAC</p>
    </div>
    <div class="certifications">
        <img src="assets/certifications/ISO14001.jpg">
        <p>ISO14001: 1996</p>
    </div>
    <div class="certifications">
        <img src="assets/certifications/QS9000.jpg">
        <p>QS9000</p>
    </div>
    <div class="certifications">
        <img src="assets/certifications/TS16949-1.jpg">
        <p>ISO/TS 16949: 2002</p>
    </div>
    <div class="certifications">
        <img src="assets/certifications/mmogle.jpg">
        <p>MMOG/LE ASSESSMENT</p>
    </div>
</div>