h1 {
    text-decoration: underline red;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 0;
}

.certifications {
    width: 20%;
    padding-bottom: 20px;
    margin: 2.5%;
}

img {
    width: 100%;
    height: 286px;
}

p {
    text-align: left;
}