.development {
    background-color: gray;
    margin: 50px;
    padding-top: 30px;
}

h2 {
    text-decoration: underline red;
    font-size: 25px;
    padding-left: 50px;
}

.intro p {
    padding-left: 50px;
    padding-right: 50px;
}

.development img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 3px;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    width: 100%;
}

.hardware {
    width: 40%;
    margin: 5%;
}

.hardware img {
    height: 300px;
    width: fit-content;
}

.hardware p {
    font-size: 20px;
    text-align: left;
}

