<div class="development">
    <img src="assets/technology.jpg">
    <h1 i18n=@@dev“>The development department has 7 professional engineering technicians and 5 sets of 3D graphics workstations.</h1>
</div>

<div class="intro">
   <h2 i18n="@@techSub">About Equipment</h2>
   <p i18n="@@techIntro">The company's physical and chemical center laboratory was established in October 2002. The laboratory has more than 20 sets of various test instruments and equipment imported and made in Japan, the United States, Germany and other countries and regions. Among them, the high and low temperature cycle plus vibration and ultrasonic non-destructive paint film thickness gauge are exclusively owned by the southwest region. Sophisticated test equipment can complete the physical and chemical properties of paint coatings, coating quality and plastic products, and can adapt to the test specifications of the country, industry and customers. At present, in addition to the company's testing and testing, it also provides testing services for some suppliers of Changan Ford.</p>
</div>

<div class="container">
    <div class="hardware">
        <img src="assets/hardwares/test01.jpg">
        <p i18n="@@hardware1">Programmable Constant Temperature&Humidity Tester</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test02.jpg">
        <p i18n="@@hardware2">Composite Environmental Test System</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test03.jpg">
        <p i18n="@@hardware3">Thermal Deformation Softening Point Temperature Measuring Instrument</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test04.jpg">
        <p i18n="@@hardware4">Plastic Ultrasonic Non-destructive Paint Film Thickness Gauge</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test05.jpg">
        <p i18n="@@hardware5">Plastic Ultrasonic Non-destructive Paint Film Thickness Gauge</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test06.jpg">
        <p i18n="@@hardware6">Salt Spray Corrosion Test Chamber</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test07.jpg">
        <p i18n="@@hardware7">Alice Colorimeter</p>
    </div>
    <div class="hardware">
        <img src="assets/hardwares/test08.jpg">
        <p i18n="@@hardware8">EasyTrack2 Thermal Profiling System</p>
    </div>
</div>