<div class="container">
    <form [formGroup]="applyForm" *ngIf="!applied" (ngSubmit) = "onSubmit(applyForm.value)">
        <div class="jobtitle" *ngIf="job">
            <h1 >Applying for {{job.name}}</h1>
            <h3>require *</h3>
        </div>
        <div class="form-group">
            <label  for="firstName">First Name *</label>
            <input class="validate" type="text" id="firstName" formControlName="firstName">
            <div *ngIf="applyForm.get('firstName').touched && applyForm.get('firstName').errors?.required">
                <small  class="text-danger">First Name is required.</small>
            </div>
            <label  for="lastName">Last Name *</label>
            <input  class="form-control" type="text" id="lastName" formControlName="lastName" class="validate">
            <div *ngIf="applyForm.get('lastName').touched && applyForm.get('lastName').errors?.required">
                <small  class="text-danger">Last Name is required.</small>
            </div>
            <label for="email">Email address *</label>
            <input class="form-control" type="email" id="email" formControlName="email" class="validate">
            <div *ngIf="applyForm.get('email').touched && applyForm.get('email').errors?.required">
                <small  class="text-danger">E-mail is required.</small>
            </div>
            <div *ngIf="applyForm.get('email').touched && applyForm.get('email').errors?.email">
                <small  class="text-danger">The email is invalid.</small>
            </div>
            <label  for="phone">Phone *</label>
            <input  class="form-control" type="text" id="phone" formControlName="phone" class="validate" pattern="[0-9]*">
            <div *ngIf="applyForm.get('phone').touched && applyForm.get('phone').errors?.required">
                <small  class="text-danger">Phone is required.</small>
            </div>
            <div *ngIf="applyForm.get('phone').touched && applyForm.get('phone').errors?.pattern">
                <small  class="text-danger">The phone is invalid.</small>
            </div>
            <label  for="resume">Resume *</label>
            <input required type="file" name="resume" (change)="uploadFile($event)" id="resume">
            <div class="progress" *ngIf="uploading">
                <div>Uploaded {{ uploadPercent | async }}%</div>
                <div class="indeterminate"></div>
            </div>
            <div class="progress" *ngIf="applying">
                <div class="indeterminate"></div>
            </div>
            <button  [disabled]="applyForm.invalid || !uploaded" type="submit">Apply</button>
            <div *ngIf="!uploaded">
                <small  class="text-danger">Please upload your resume.</small>
            </div>
        </div>
    </form>

    <div *ngIf="applied" class="feedback">
        <h2 i18n="@@applyFeedbackTitle" >Thank you for applying this job at GNRN.</h2>
        <p i18n="@@applyFeedbackP" >We will reply you as soon as possible.</p>
    </div>
</div>