<h1 i18n="@@newsTitle" id="title">NEWS</h1>
<div class="container">
    <div class="news">
        <img src="assets/ford2010.jpg">
        <h1 i18n="@@news1">Congratulations to GNRN Automotive Trim for The Changan Ford Mazda Q1 Certification</h1>
        <p i18n="@@time1">May 18, 2010</p>
    </div>
    <div class="news">
        <img src="assets/ford2008.jpg">
        <h1 i18n="@@news2">Celebrate GNRN Automotive Trim Was Named Changan Ford Mazda 2008 Outstanding Supplier</h1>
        <p i18n="@@time2">May 21, 2009</p>
    </div>
    <div class="news">
        <img src="assets/jianshe2008.jpg">
        <h1 i18n="@@news3">Celebrate GNRN Automotive Trim Was Named Jianshe Group 2008 Outstanding Supplier</h1>
        <p i18n="@@time3">January 20, 2009</p>
    </div>
    <div class="news">
        <img src="assets/suzuki2008.jpg">
        <h1 i18n="@@news4">Celebrate GNRN Automotive Trim Was Named Changan Suzuki 2008 Changan Suzuki Cooperation</h1>
        <p i18n="@@time4">February 13, 2009</p>
    </div>
    <div class="news">
        <img src="assets/yamaha2008.jpg">
        <h1 i18n="@@news5">Celebrate GNRN Automotive Trim Was Named Jianshe Yamaha 2008 Outstanding Supplier</h1>
        <p i18n="@@time5">January 3, 2009</p>
    </div>
</div>
