#title {
    text-decoration: underline red;
    font-size: 25px;
    padding: 10px 0px 10px 50px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.news {
    width: 30%;
    margin: 1.6%;
}

.news h1 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.news p {
    text-align: left;
}

img {
    width: 100%;
    height: 250px;
}