.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    width: 85%;
    padding: 0;
}

div {
    margin-left: 3%;
    width: 28%;
}

img {
    width: 100%;
    border: black 1px solid;
}

p {
    font-size: 15px;
    text-align: center;
}