h1 {
    color: red;
    text-align: center;
    padding: 10px;
    text-decoration: underline black;
}

.job_container {
    width: 80%;
    margin: auto;
}

button {
    background-color: lightgray;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 100%;

}

h2, p {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

hr {
    margin: 0;
}

