<h1 i18n="@@careerTitle" >GNRN Career</h1>
<div class="job_container">
    <div class="job_content" *ngFor= "let job of jobs; index as jobId">
        <button [routerLink]="['/jobs', jobId]">
            <h2  >{{job.name}}</h2>
            <p  >{{job.department}}</p>
            <p  >{{job.location}}</p>
            <p  >{{job.type}}</p>
        </button>
        <hr/>
    </div>
</div>