<div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" *ngIf=!submitted>
        <h1  >Contact Us</h1>
        <h3>require *</h3>
        <div class="form-group">
            <label  for="firstName">First Name *</label>
            <input class="validate" type="text" id="firstName" formControlName="firstName">
            <div *ngIf="contactForm.get('firstName').touched && contactForm.get('firstName').errors?.required">
                <small  class="text-danger">First Name is required.</small>
            </div>
            <label  for="lastName">Last Name *</label>
            <input  class="form-control" type="text" id="lastName" formControlName="lastName" class="validate">
            <div *ngIf="contactForm.get('lastName').touched && contactForm.get('lastName').errors?.required">
                <small  class="text-danger">Last Name is required.</small>
            </div>
            <label for="email">Email address *</label>
            <input class="form-control" type="email" id="email" formControlName="email" class="validate">
            <div *ngIf="contactForm.get('email').touched && contactForm.get('email').errors?.required">
                <small  class="text-danger">E-mail is required.</small>
            </div>
            <div *ngIf="contactForm.get('email').touched && contactForm.get('email').errors?.email">
                <small  class="text-danger">The email is invalid.</small>
            </div>
            <label  for="subject">Subject *</label>
            <input class="form-control" type="text" id="subject" formControlName="subject" class="validate">
            <div *ngIf="contactForm.get('subject').touched && contactForm.get('subject').errors?.required">
                <small  class="text-danger">Subject is required.</small>
            </div>
            <label for="message">Your message *</label>
            <textarea class="form-control" type="textarea" id="message" formControlName="message" class="validate"></textarea>
            <div *ngIf="contactForm.get('message').touched && contactForm.get('message').errors?.required">
                <small  class="text-danger">Message is required.</small>
            </div>
            <div class="progress" *ngIf="submitting">
                <div class="indeterminate"></div>
            </div>
            <button [disabled]="contactForm.invalid" type="submit">Submit</button>
        </div>
    </form>
    <div class="feedback" *ngIf=submitted>
        <h2 i18n="@@contactFeedbackTitle" >We've received your message.</h2>
        <p i18n="@@contactFeedbackP" >We will reply you as soon as possible.</p>
    </div>
</div>