.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
}

h1 {
    color: red;
    text-align: center;
    padding: 10px;
    text-decoration: underline black;
}

h3 {
    font-size: 11px;
    color: rgb(190, 25, 25);
}

label {
    display: block;
    color: black;
    padding-left: 20px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea {
    height: 100px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(194, 43, 43);
}

button:active {
    background-color: red;
}

.feedback {
    justify-content: center;
}

h2 {
    color: black;
}

P {
    color: gray;
    text-align: center;
}
