@import url(http://fonts.googleapis.com/css?family=Nunito+Sans); /*import web fonts*/

.two-columns {
    column-count: 2;
}

img {
    float: right;
    padding: 15px;
}

.container {
    display: flex;
}

.column-1 {
    margin-right: 20px;
}

.container-manual * { /*children*/
    background-color: cadetblue;
}

.manual-one {
    width: 49%;
}

.manual-two {
    position: relative;
    width: 49%;
    bottom: 850px;
    left: 800px;
}

h1, h2, h3 {
    font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
}
/* h2 {
    font-family: sans-serif;
}
h3 {
    font-family: monospace;
} */