* {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    background-color: darkgray;
}

ul li {
    background-color: aqua;
    padding-top: 10px;
    padding: 10px 0 10px 25px;
    margin: 25px;
    border: 2px solid black;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

p {
    display: flex;
}

a {
    color: purple;
    text-decoration: none;
}

a:visited{
    color: rosybrown;
}

/* p { 
    visibility: hidden;
}
*/





/* 
* all elements - everything
. means class selector 
nothing means tag selector
[] means attribute selector
# means id seletor
: pseudo class selector
*/