<ul>
    <li>HTML5</li>
    <li>CSS, Bootstrap</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>Node.js</li>
    <li>Fetching Data using http</li>
    <li>Custom pipe for category</li>
    <li>Express: as web server</li>
    <li>BodyParser: middleware to handle form data, get form data from req.body</li>
    <li>Cors: make requests across different ports</li>    
    <li>NodeMailer: send emails</li>
    <li>Multer: upload files</li>
</ul>