<div id="siden" class="sidebar">
    <h1 i18n="@@productTitle" id="title">Products</h1>
    <a i18n="@@pro_all" (click)="showAll()">All</a>
    <a i18n="@@pro_under" (click)="showUnderbone()">Underbone</a>
    <a i18n="@@pro_scooter" (click)="showScooterMotorcycle()">Scooter Motorcycle</a>
    <a i18n="@@pro_motor" (click)="showMotorcycle()">Motorcycle</a>
    <a i18n="@@pro_atv" (click)="showAtv()">ATV</a>
    <a i18n="@@pro_autoParts" (click)="showAutomobileParts()">Automobile Parts</a>
    <a i18n="@@pro_funParts" (click)="showFunctionalParts()">Functional Parts</a>
    <a i18n="@@pro_exParts" (click)="showExteriorTrimParts()">Exterior Trim Parts</a>
</div>

<router-outlet></router-outlet>