#title {
    text-decoration: underline red;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: gray;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    color: red;
    cursor: pointer;
}

.sidebar a.active {
    color: black;
}
