<div class="container">
    <div *ngFor="let product of products | category: 'ATV'">
        <img src="assets/products/{{product.product_code}}.jpg">
        <p>
            {{product.name}}
        </p>
    </div>
</div>