.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: underline red;
}

h4 {
    font-weight: normal;
    font-size: 21px;
    text-align: center;
}

button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 90%;
    
}

button:hover {
    background-color: rgb(194, 43, 43);
}

button:active {
    background-color: red;
}

h2 {
    font-size: 25px;
}

p {
    padding-top: 10px;
}

h3 {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 40px;
}