<div class="content" *ngIf="job">
    <h1>{{ job.name }}</h1>
    <button i18n="@@applyButton" (click)="apply()">APPLY</button>
    <h4>{{ job.department }}, {{ job.location }}, {{ job.type }}</h4>
    <h2 i18n="@@jobSubtitle1" >Description</h2>
    <p>{{ job.job_description }}</p>
    <h2 i18n="@@jobSubtitle2" >Responsibities</h2>
    <ul>
        <li *ngFor="let reponsibility of resList">
            {{ reponsibility }}
        </li>
    </ul>
    <h2 i18n="@@jobSubtitle3">Qualifications</h2>
    <ul>
        <li *ngFor="let qualification of quaList">
            {{ qualification }}
        </li>
    </ul>
    <hr>
    <h3>{{ job.footer }}</h3>
</div>